[Desktop Entry]
Encoding=UTF-8
Name=Cockcoin
Comment=Cockcoin P2P Cryptocurrency
Comment[fr]=Cockcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Cockcoin, eşten eşe kriptografik sanal para birimi
Exec=cockcoin-qt %u
Terminal=false
Type=Application
Icon=cockcoin128
MimeType=x-scheme-handler/cockcoin;
Categories=Office;Finance;
